<!-- Left panel -->
<div class="left-panel">
    <div class="masthead">
        <div class="vahrhedral">Vahrhedral</div>
        <span class="divinitor">Divinitor</span><i class="slash"></i><span class="inline subtitle">Labs</span>
        <div class="tagline">For science!</div>
    </div>
    <div class="info">
        <h4>Welcome</h4>
        <p>
            <strong>Divinitor Labs</strong> is where in-development Divinitor tools are available for public testing. 
            Tools are subject to constant changes or removal. 
            Tools that have passed Labs testing will become available at <a href="https://divinitor.com">Divinitor</a> 
            and the Labs version will redirect to the Divinitor version for a grace period.
        </p>
        <p>
            <strong>Utilize these resources at your own risk. Data may be lost at any time. 
                Tools may not always be available or work correctly.</strong>
        </p>
        <p>
            Please provide bug reports and feedback to Vahr.
        </p>
    </div>

    {{tool-list tools=model}}

</div>

<!-- Info panel -->

